<h1> Acebook Wall </h1>

<% @formatted_posts.each do |post| %>
  <h3><%= simple_format post[0] %></h3>
  <%= post[1] %>
  <br>
  <%= post[2] %>
  <br>
  <br>
<% end %>
<br>
<%= link_to "View Your Posts", user_posts_path(current_user) %>
