<h1> Acebook Wall </h1>

<% @all_posts.each do |post| %>
  <h3><%= simple_format post.message %></h3>
  <%= post.created_at.strftime("%d %B %Y %H:%M") %>
  <br>
  <% @desired_user= User.where(id:post.user_id)%>
  <%= @desired_user[0].email%>
  <br>
  <br>
<% end %>
<br>
<%= link_to "View Your Posts", user_posts_path(current_user) %>
