<h1>NEW POST</h1>
<%= form_for [current_user, @post] do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message, size: "15x3" %>

  <%= form.submit "Submit" %>
<% end %>

#this is a proposed solution, however it was not run on the
#server as the other team is working on connecting the posts.
