/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bulma';
@import 'bulma-extensions';

html,
body {
  background-color: #ff6f69;
}

header {
  background-color: #ffcc5c;
  font-size: 5rem;
  font-weight: bold;
}
p {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

.title {
  padding-top: 20px;
  text-align: center;
}

.container {
  margin-bottom: 40px;
}

.rails-right {
  float: right;
}

.rails-center {
  padding-left: 30%;
  text-align: center;
}

.another-center {
    text-align: center;
}
